#define IDM_MENU 10000
#define IDM_NEW_GAME 10001
#define IDM_OPEN 10002
#define IDM_SAVE 10003
#define IDM_FILE_EXIT 10010
#define IDM_RANK 11000
#define IDM_HELP_ABOUT 10101
IDM_MENU MENUEX
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "&NewGame",IDM_NEW_GAME
    MENUITEM "&Open",IDM_OPEN
    MENUITEM "&Save",IDM_SAVE
    MENUITEM "&Exit",IDM_FILE_EXIT
  END
  MENUITEM "Rank",IDM_RANK
  POPUP "&Help"
  BEGIN
    MENUITEM "&About",IDM_HELP_ABOUT
  END
END
