100						RCDATA    DISCARDABLE "chart_line.png"
101						RCDATA    DISCARDABLE "chart_line_grey.png"
102						ICON      DISCARDABLE "brown_color_block.ico"
110						ICON      DISCARDABLE "num_basic.ico"
111						ICON      DISCARDABLE "num_block_2.ico"
112						ICON      DISCARDABLE "num_block_4.ico"
113						ICON      DISCARDABLE "num_block_8.ico"
114						ICON      DISCARDABLE "num_block_16.ico"
115						ICON      DISCARDABLE "num_block_32.ico"
116						ICON      DISCARDABLE "num_block_64.ico"
117						ICON      DISCARDABLE "num_block_128.ico"
118						ICON      DISCARDABLE "num_block_256.ico"
119						ICON      DISCARDABLE "num_block_512.ico"
120						ICON      DISCARDABLE "num_block_1024.ico"
121						ICON      DISCARDABLE "num_block_2048.ico"
200						ICON      DISCARDABLE "logo_2048.ico"
